input,
textarea {
  width: 400px;
  height: 35px;
  font-size: 1.5em;
  padding: 10px;

  display: flex;
  margin: 5px;
}
label {
  margin: 0 5px;
  font-size: 1.5em;
}
select {
  width: 420px;
  height: 35px;
  font-size: 1.5em;
  color: #272727;
  margin: 5px;
}
textarea {
  height: 100px;
}

button {
  background: #0e9aa7;
  font-size: 1.5em;
  color: white;
  padding: 25px;
  width: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  transition: 0.4s;
}
button:hover {
  background: white;
  color: #0e9aa7;
  border: 1px solid #0e9aa7;
}
