.filme-info {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  background-color: #fff;
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #aaa;
}

.filme-info img {
  border-radius: 50px;
}
.filme-info h1 {
  text-align: center;
}
